@use '../../foundation/index' as *;

/* お知らせ */
.notice {
  margin-top: 60rem;
}

.notice__inner {
  margin-right: auto;
  margin-left: auto;
  width: 816rem;

  @include media() {
    width: 335rem;
  }
}

.notice__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.notice__item {
  padding: 30rem 0 26rem;
  border-bottom: 1px solid #cecece;

  @include media() {
    padding: 25rem 10rem 26rem;
  }

  &:first-child {
    border-top: 1px solid #cecece;
  }
}

.notice__date {
  margin-bottom: 4rem;
  color: var(--colorKey);
  font-family: var(--fontTitle);
  line-height: 1;

  @include media() {
    margin-bottom: 10rem;
  }
}

.notice__text {
  line-height: 1.8125;
}
