@use '../../foundation/index' as *;

// page共通
// .page__wrapper {
//   @extend %wrapper;
//   @include media() {
//     margin-right: auto;
//     margin-left: auto;
//     width: 89%;
//   }
// }

.page__title {
  padding: 61rem 0 63rem 0;
  background-image: url('../image/page_title.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--colorBg);
  text-align: center;
  font-weight: var(--weightRegular);
  font-size: 36rem;
  line-height: 1.2;

  @include media() {
    padding: 30rem 0 28rem 0;
    font-size: 22rem;
  }
}

.page__content {
  @extend %wrapper;
  @include media() {
    margin-right: auto;
    margin-left: auto;
    width: 89%;
  }
}

.page__content-title {
  display: flex;
  align-items: start;
  flex-direction: column-reverse;
  gap: 14rem;
  color: var(--colorKey);
  font-weight: var(--weightBold);
  font-size: 32rem;
  line-height: 1.4375;

  @include media() {
    gap: 11rem;
    font-size: 24rem;
  }

  &::after {
    content: '';
    width: 50rem;
    height: 3rem;
    background-color: var(--colorKey);

    @include media() {
      width: 40rem;
      height: 2px;
    }
  }
}


// examination
.page__tab {
  padding-top: 14rem;
  padding-bottom: 30rem;
  background-color: #f6f7f8;

  @include media() {
    padding-top: 20rem;
    padding-bottom: 20rem;
    font-size: 14rem;
  }
}

.page__tab-inner {
  display: flex;
  justify-content: space-between;

  @extend %wrapper;
  @include media() {
    gap: 5rem;
    margin-right: auto;
    margin-left: auto;
    width: 89%;
  }
}

.page__tab-button {
  position: relative;
  margin-top: 21rem;
  padding: 16rem 0;
  width: 236rem;
  border: 1px solid ;
  border-radius: 3rem;
  background-color: var(--colorBg);
  color: #006eb8;
  text-align: center;
  font-weight: var(--weightBold);
  line-height: 1.1875;

  @include media() {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    padding-bottom: 26rem;
    height: 70rem;
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 1em;
    width: 8rem;
    height: 8rem;
    border: 2px solid;
    border-top: none;
    border-left: none;
    transform: translateY(-50%) rotate(45deg);

    @include media() {
      top: 80%;
      right: 0;
      left: 50%;
      transform: translateY(0%) rotate(45deg) translateX(-50%);
    }
  }
}

.page-examination__content-box {
  margin-top: 120rem;

  @include media() {
    margin-top: 80rem;
  }

  &:first-of-type {
    margin-top: 80rem;

    @include media() {
      margin-top: 60rem;
    }
  }
}

.page-examination__content-text {
  margin-top: 36rem;

  @include media() {
    margin-top: 22rem;
  }
}

.page-examination__group {
  display: flex;
  flex-direction: column;
  gap: 50rem;
  margin-top: 52rem;

  @include media() {
    gap: 34rem;
    margin-top: 45rem;
  }
}

.page-examination__group-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-top: 32rem;
  padding-right: 40rem;
  padding-bottom: 37rem;
  border-radius: 6rem;
  background-color: #edeff2;

  @include media() {
    flex-direction: column;
    padding-top: 196rem;
    padding-right: 20rem;
    padding-bottom: 40rem;
    padding-left: 20rem;
    width: 100%;
  }
}

.page-examination__item-heading {
  position: absolute;
  top: -30rem;
  left: 10rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 13rem;
  width: 26%;

  @include media() {
    left: 50%;
    gap: 16rem;
    width: 100%;
    transform: translateX(-50%);
  }
}

.page-examination__group-title {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
  color: var(--colorKey);
  font-weight: var(--weightRegular);
  font-size: 28rem;
  line-height: 1.21;

  @include media() {
    gap: 9rem;
    font-size: 22rem;
  }
}

.page-examination__title-number {
  color: #91a3bf;
  font-weight: var(--weightLight);
  font-size: 70rem;
  font-family: var(--fontTitle);
  line-height: 1.2;

  @include media() {
    font-size: 52rem;
  }
}

.page-examination__group-img {
  width: 95rem;
  height: 95rem;
}

.page-examination__group-text-container {
  display: flex;
  flex-direction: column;
  gap: 24rem;
  width: 67%;

  @include media() {
    width: 100%;
  }
}

.page-examination__group-text {
  font-weight: var(--weightBold);
  font-size: 18rem;
  line-height: 1.7;

  @include media() {
    font-size: 15rem;
  }
}

.page-examination__group-ex {
  display: flex;
  flex-direction: column;
  padding-left: 14rem;
  border-left: 1px solid #cecece;
  line-height: 1.8;

  @include media() {
    font-size: 14rem;
  }
}

.page-examination__group-caution {
  margin-top: 34rem;
  line-height: 1.81;

  @include media() {
    margin-top: 30rem;
  }
}

.page-examination__list {
  margin-top: 1rem;
}

.page-examination__list-item {
  position: relative;
  gap: .7em;
  padding-left: 15rem;
  font-weight: var(--weightBold);
  line-height: 1.81;

  @include media() {
    align-items: start;
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: var(--colorBlack);
    transform: translateY(-50%);

    @include media() {
      top: 0;
      margin-top: .8em;
      transform: translateY(0);
    }
  }
}

.page-examination__standard {
  display: flex;
  flex-direction: column;
  gap: 80rem;
  margin-top: 45rem;

  @include media() {
    gap: 37rem;
    margin-top: 33rem;
    width: 100%;
  }
}

.page-examination__standard-item {
  position: relative;
  display: flex;
  gap: 65rem;
  padding-top: 25rem;
  padding-left: 50rem;

  @include media() {
    flex-direction: column;
    gap: 10rem;
    padding-top: 20rem;
    padding-left: 20rem;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 330rem;
    height: 330rem;
    background-color: #f0f7fc;
    clip-path: polygon(0 0, 100% 0, 0 100%);

    @include media() {
      width: 335rem;
      height: 335rem;
    }
  }
}

.page-examination__standard-heading {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 19rem;

  @include media() {
    flex-direction: row;
    justify-content: space-between;
  }
}

.page-examination__standard-title {
  color: var(--colorKey);
  font-size: 28rem;

  @include media() {
    font-size: 22rem;
  }
}

.page-examination__standard-img {
  width: 164rem;
  height: 164rem;

  @include media() {
    width: 90rem;
    height: 90rem;
  }
}


.page-examination__standard-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32rem;
  width: 70%;

  @include media() {
    gap: 27rem;
    width: 100%;
  }
}

.page-examination__standard-text-container {
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

.page-examination__standard-subtitle {
  display: flex;
  align-items: center;
  gap: 9rem;
  color: var(--colorKey);
  font-weight: var(--weightBold);
  font-size: 22px;
  line-height: 1.18;

  @include media() {
    gap: 8rem;
    font-size: 18rem;
    line-height: 1.2;
  }

  &::before {
    content: '';
    width: 26rem;
    height: 25rem;
    background-image: url('../image/icon_page_examination_check.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    @include media() {
      width: 21rem;
      height: 20rem;
    }
  }
}

.page-examination__standard-text {
  margin-left: 35rem;

  @include media() {
    margin-left: 27rem;
  }
}

.page-examination__content-subtitle {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: start;
  gap: .4em;
  margin-top: 122rem;
  font-size: 28rem;
  line-height: 1.25;

  @include media() {
    margin-top: 86rem;
    font-size: 20rem;
  }

  &::after {
    content: '';
    display: block;
    width: 16rem;
    height: 16rem;
    border: 5rem solid #0062ab;
    border-radius: 50%;

    @include media() {
      width: 12rem;
      height: 12rem;
      border: 4rem solid #0062ab;
    }
  }
}

.page-examination__application-content {
  margin-top: 170rem;
}

.page-examination__application-text {
  margin-top: 35rem;
}

.page-examination__step-container {
  margin-top: 46rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 66%;

  @include media() {
    display: flex;
    flex-direction: column;
    margin-top: 37rem;
    max-width: 100%;
  }
}

.page-examination__step {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 24rem;
  padding-bottom: 24rem;
  border: 1px solid #91a3bf;
  border-right: none;
  border-left: none;
  background-color: #f4f5f8;

  @include media() {
    justify-content: start;
    padding-top: 17rem;
    padding-bottom: 17rem;
    padding-left: 95rem;
  }

  &:last-of-type {
    background-color: #c1e1f8;
  }
}

.page-examination__step-number {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  gap: 6rem;
  margin-left: 27rem;
  color: var(--colorKey);
  font-weight: var(--weightBold);
  font-size: 20px;
  font-family: var(--fontTitle);
  line-height: 1.2;

  @include media() {
    margin-left: 10rem;
    font-size: 15rem;
  }

  span {
    font-size: 36rem;

    @include media() {
      font-size: 28rem;
    }
  }
}

.page-examination__step-title {
  color: var(--colorKey);
  font-weight: var(--weightBold);
  font-size: 24rem;
  line-height: 1.2;

  @include media() {
    font-size: 18rem;
  }
}

.page-examination__step-arrow {
  display: flex;
  justify-content: start;
  gap: 50rem;
  margin-left: 50rem;

  @include media() {
    gap: 37rem;
    margin-left: 20rem;
  }
}

.page-examination__step-arrow-img01 {
  margin-top: 10rem;
  margin-bottom: 10rem;
  width: 37rem;
  height: 145rem;
}

.page-examination__step-arrow-img02 {
  margin-top: 10rem;
  margin-bottom: 10rem;
  width: 37rem;
  height: 55rem;
}

.page-examination__step-arrow-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 15rem;

  @include media() {
    margin-top: 10rem;
  }

  p {
    text-align: center;

    @include media() {
      text-align: left;
    }
  }
}

.page-examination__merit {
  display: flex;
  justify-content: space-between;
  margin-top: 43rem;

  @include media() {
    flex-direction: column;
    gap: 30rem;
    margin-top: 37rem;
  }
}

.page-examination__merit-text-sp {
  margin-top: 21rem;
}

.page-examination__merit-item {
  padding: 44rem 40rem 46rem 40rem;
  width: 48%;
  border-radius: 6rem;
  background-color: #edeff2;

  @include media() {
    padding: 37rem 20rem;
    width: 100%;
  }
}

.page-examination__merit-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 26rem;

  @include media() {
    gap: 19rem;
  }
}

.page-examination__merit-title {
  color: var(--colorKey);
  font-size: 28rem;
  line-height: 1.2;

  @include media() {
    font-weight: var(--weightRegular);
    font-size: 22rem;
  }
}

.page-examination__merit-img {
  width: 234rem;
  height: 140rem;
}

.page-examination__merit-text {
  margin-top: 30rem;

  @include media() {
    margin-top: 10rem;
  }
}

.page-examination__support-desc {
  margin-top: 36rem;

  @include media() {
    margin-top: 35rem;
  }
}

.page-examination__support-container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-top: 48rem;

  @include media() {
    gap: 7rem;
    margin-top: 37rem;
  }
}

.page-examination__support-item {
  padding-top: 32rem;
  padding-bottom: 40rem;
  border-radius: 6rem;
  background-color: #edeff2;

  @include media() {
    padding-top: 16rem;
    padding-bottom: 28rem;
  }
}

.page-examination__support-wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 92%;
}

.page-examination__support-question {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 27rem;
  padding-bottom: 21rem;
  border-bottom: 1px solid #cecece;
  font-weight: var(--weightBold);
  font-size: 18rem;
  line-height: 1.77;

  @include media() {
    gap: 6rem;
    padding-bottom: 24rem;
    font-size: 15rem;
  }

  &::after {
    content: '';
    position: absolute;
    right: 0;
    width: 18rem;
    height: 3rem;
    background-color: var(--colorKey);
    cursor: pointer;

    @include media() {
      width: 14rem;
      height: 2px;
    }
  }
}

.page-examination__support-answer {
  padding-top: 12rem;
}

.page-examination__support-text {
  margin-top: 40rem;

  @include media() {
    margin-top: 24rem;
  }
}



.page-examination__button {
  display: flex;
  justify-content: center;
  margin-top: 12rem;

  @include media() {
    margin-top: 13rem;
  }
}

.page-examination__contact-button {
  display: flex;
  justify-content: center;
  margin-top: 27rem;
}



// about
.page-about__vision {
  margin-top: 61rem;
}

.page-about__content-vision {
  margin-top: 47rem;
  padding-top: 40rem;
  padding-bottom: 60rem;
  border-radius: 6rem;
  background-color: #edeff2;
  text-align: center;
  font-weight: var(--weightRegular);
  font-size: 32rem;
  line-height: 2;

  @include media() {
    margin-top: 35rem;
    padding-top: 40rem;
    padding-bottom: 51rem;
    font-size: 22rem;
  }
}

.page-about__message {
  margin-top: 110rem;

  @include media() {
    margin-top: 92rem;
  }
}

.page-about__content-text {
  margin-top: 40rem;
  font-weight: var(--weightRegular);
  line-height: 1.875;

  @include media() {
    margin-top: 31rem;
  }
}

.page-about__activity {
  margin-top: 122rem;

  @include media() {
    margin-top: 92rem;
  }
}

.page-about__activity-list {
  display: flex;
  flex-direction: column;
  gap: .2em;
  margin-top: 32rem;

  @include media() {
    gap: 8rem;
    margin-top: 35rem;
  }
}

.page-about__list-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 16rem;
  padding-left: 15rem;
  font-weight: var(--weightBold);
  font-size: 20rem;

  @include media() {
    font-size: 18rem;
  }

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: #888;
    transform: translateY(-50%);

    @include media() {
      top: 13rem;
      transform: translateY(0);
    }
  }
}

.page-about__overview {
  margin-top: 116rem;

  @include media() {
    margin-top: 91rem;
  }
}

.page-about__overview-table {
  margin-top: 18rem;
  width: 100%;
  border-collapse: collapse;

  @include media() {
    margin-top: 15rem;
  }
}

.page-about__table-row {
  border-bottom: 1px solid #cecece;
}

.page-about__table-header,
.page-about__table-data {
  padding-top: 22rem;
  padding-bottom: 24rem;

  @include media() {
    padding-top: 20rem;
    padding-bottom: 26rem;
  }
}

.page-about__table-header {
  font-weight: var(--weightRegular);
  font-size: 16rem;
  line-height: 1.875;

  @include media() {
    width: 25%;
    font-size: 15rem;
  }
}

.page-about__table-data {
  @include media() {
    width: 74%;
  }
}

.page-about__overview-map {
  margin-top: 40rem;

  @include media() {
    margin-top: 30rem;
  }
}

iframe {
  width: 100%;
  height: 400rem;

  @include media() {
    height: 335rem;
  }
}



// privacy
.page-privacy__desc {
  margin-top: 48rem;
}

.page-privacy__title {
  margin-top: 36rem;
  color: var(--colorKey);
  font-weight: var(--weightBold);
  font-size: 18rem;
  line-height: 1.5;

  @include media() {
    margin-top: 37rem;
    font-size: 16rem;
  }

  &:first-of-type {
    margin-top: 60rem;
  }
}

.page-privacy__text {
  margin-top: 20rem;

  @include media() {
    margin-top: 15rem;
  }
}

.page-privacy__list {
  display: flex;
  flex-direction: column;
  gap: .2em;
  margin-top: 10rem;
}

.page-privacy__list-item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10rem;
  padding-left: 15rem;
  font-weight: var(--weightRegular);
  font-size: 16rem;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: var(--colorBlack);
    transform: translateY(-50%);

    @include media() {
      top: 13rem;
      transform: translateY(0);
    }
  }
}

.page-privacy__signature {
  display: flex;
  flex-direction: column;
  gap: .2em;
  margin-top: 57rem;
}

.page-privacy__revision-date {
  margin-top: 57rem;
  font-size: 14rem;
}

.page-privacy__contact-info {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 50rem;

  @include media() {
    gap: 2rem;
  }
}

.page-privacy__info-heading {
  font-weight: var(--weightBold);
}

.page-privacy__email {
  border-bottom: 1px solid;
  color: #006eb8;
}
