@use '../../foundation/index' as *;

// page共通
.page__wrapper {
  @extend %wrapper;
}

.page__title {
  padding: 61rem 0 63rem 0;
  background-image: url('../image/page_title.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--colorBg);
  text-align: center;
  font-weight: var(--weightRegular);
  font-size: 36rem;
  line-height: 1.2;
}

.page-content__title {
  display: flex;
  align-items: start;
  flex-direction: column-reverse;
  gap: 25rem;
  color: var(--colorKey);
  font-weight: var(--weightBold);
  font-size: 32rem;
  line-height: 1.4375;

  &::after {
    content: '';
    width: 50rem;
    height: 3rem;
    background-color: var(--colorKey);
  }
}

.page__breadcrumb {
  margin-top: 13rem;
  background-color: var(--colorBg);

  .about__breadcrumb__link {
    color: var(--colorBlack);
  }

  .about__breadcrumb__current {
    color: #777;
  }
}

// examination
.page__examination-header {
  padding-top: 14rem;
  padding-bottom: 30rem;
  background-color: #f6f7f8;

  .page-tab,
  .page__examination-breadcrumb {
    @extend %wrapper;
  }

  .page-tab {
    display: flex;
    justify-content: space-between;

    .page-tab__button {
      position: relative;
      margin-top: 21rem;
      padding: 16rem 0;
      width: 236rem;
      border: 1px solid ;
      background-color: var(--colorBg);
      color: #006eb8;
      text-align: center;
      font-weight: var(--weightBold);
      line-height: 1.1875;

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 1em;
        width: 8rem;
        height: 8rem;
        border: 2px solid;
        border-top: none;
        border-left: none;
        transform: translateY(-50%) rotate(45deg);
      }
    }
  }
}

.page__examination {
  .about__pro {
    margin-top: 80rem;

    .page__examination-content__text {
      margin-top: 43rem;
    }
  }

  #examination {
    margin-top: 128rem;

    .page__examination-content__text {
      margin-top: 46rem;
    }

    .examination__application-desc_01 {
      margin-top: 135rem;
    }

    .page__examination-group {
      display: flex;
      flex-direction: column;
      gap: 50rem;
      margin-top: 52rem;

      .page__examination-group__item {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: end;
        padding-top: 40rem;
        padding-right: 40rem;
        padding-bottom: 50rem;
        // padding-left: 325rem;
        border-radius: 6rem;
        background-color: #edeff2;

        .page__examination-group__item__heading {
          position: absolute;
          top: -30rem;
          left: 10rem;
          display: flex;
          align-items: center;
          flex-direction: column;
          gap: 16rem;
          width: 26%;

          .page__examination-group__title {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 7rem;
            color: var(--colorKey);
            font-weight: var(--weightRegular);
            font-size: 28rem;
            line-height: 1.21;

            .page__examination-group__title-number {
              color: #91a3bf;
              font-weight: var(--weightLight);
              font-size: 70rem;
              font-family: var(--fontTitle);
              line-height: 1.2;
            }
          }

          .page__examination-group__img {
            width: 95rem;
            height: 95rem;
          }
        }

        .page__examination-group__text-container {
          display: flex;
          flex-direction: column;
          gap: 30rem;
          width: 67%;
          .page__examination-group__text {
            font-weight: var(--weightBold);
            font-size: 18rem;
            line-height: 1.7;
          }
          .page__examination-group__text-ex {
            display: flex;
            flex-direction: column;
            padding-left: 14rem;
            border-left: 1px solid #cecece;
            line-height: 1.8;
          }
        }
      }
    }

    .page__examination-group-caution {
      margin-top: 40rem;
      line-height: 1.81;
    }

    .page__examination-group-caution__li {
      margin-top: 13rem;

      li {
        display: flex;
        align-items: center;
        gap: .7em;
        font-weight: var(--weightBold);
        line-height: 1.81;

        span {
          font-size: 4rem;
        }
      }
    }
  }

  .examination__application-desc_02 {
    margin-top: 136rem;
    margin-bottom: 45rem;
  }

  .page__examination-standard {
    display: flex;
    flex-direction: column;
    gap: 68rem;

    .page__examination-standard__item {
      display: flex;
      justify-content: space-between;
    }
  }

  .page__examination-content__subtitle {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: start;
    gap: .3em;
    font-size: 28rem;
    line-height: 1.25;

    &::after {
      content: '';
      display: block;
      width: 16rem;
      height: 16rem;
      border: 5rem solid #0062ab;
      border-radius: 50%;
    }
  }
}


// about
.page__about {
  margin-top: 61rem;

  .page__box__content {
    margin-top: 46rem;
  }

  .page__vision {
    margin-top: 61rem;

    .page__box__vision-text {
      padding-top: 60rem;
      padding-bottom: 75rem;
      background-color: #edeff2;
      text-align: center;
      font-weight: var(--weightRegular);
      font-size: 32rem;
      line-height: 2;
    }
  }

  .page__message {
    margin-top: 120rem;

    .page__box__message {
      font-weight: var(--weightRegular);
      line-height: 1.875;
    }
  }

  .page__activity {
    margin-top: 128rem;

    .page__activity-list {
      display: flex;
      flex-direction: column;
      gap: .5em;

      .page__activity-list-item {
        display: flex;
        display: flex;
        align-items: center;
        gap: 16rem;
        font-weight: var(--weightBold);
        font-size: 20rem;

        .page__activity-list-item-circle {
          color: #888;
          font-size: 6rem;
        }
      }
    }
  }

  .page__overview {
    margin-top: 129rem;



    .page__overview-table {
      margin-top: 22rem;
      width: 100%;
      border-collapse: collapse;

      tr {
        border-bottom: 1px solid #cecece;
      }

      .page__table-header,
      .page__table-data {
        padding-top: 24rem;
        padding-bottom: 30rem;
      }

      .page__table-header {
        font-weight: var(--weightRegular);
        font-size: 16rem;
        line-height: 1.875;
      }
    }

    .page__overview-map {
      margin-top: 40rem;

      iframe {
        width: 100%;
        height: 400rem;
      }
    }
  }
}


// privacy
.page__privacy {
  margin-top: 61rem;

  .page__privacy-title_01 {
    margin-top: 68rem !important;
  }

  .page__privacy-title {
    margin-top: 48rem;
    color: var(--colorKey);
    font-weight: var(--weightBold);
    font-size: 18rem;
    line-height: 1.5;
  }

  .page__privacy-box {
    margin-top: 27rem;
  }

  .page__privacy-policy-list {
    display: flex;
    flex-direction: column;
    gap: .5em;
    margin-top: 13rem;

    .page__privacy-policy-list-item {
      display: flex;
      display: flex;
      align-items: center;
      gap: 10rem;
      font-weight: var(--weightRegular);
      font-size: 16rem;

      .page__privacy-policy-list-item-circle {
        color: var(--colorBlack);
        font-size: 4rem;
      }
    }
  }

  .page__privacy-signature {
    display: flex;
    flex-direction: column;
    gap: .5em;
    margin-top: 68rem;
  }

  .page__privacy-revision-date {
    margin-top: 68rem;
    font-size: 14rem;
  }

  .page__privacy-contact-info {
    display: flex;
    flex-direction: column;
    gap: 14rem;
    margin-top: 65rem;

    .page__privacy-contact-info-heading {
      font-weight: var(--weightBold);
    }

    .page__privacy-email {
      border-bottom: 1px solid;
      color: #006eb8;
    }
  }
}
